.commentContainer {
  margin-left: 20%;
  width: 60%;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
}

.commentTitle {
  margin-left: 5%;
  color: rgb(222, 243, 32);
  font-weight: bolder;
}

.commentator {
  font-weight: bold;
  font-style: italic;
}

.commentOne {
  margin-left: 5%;
}

.lineAbove {
  width: 90%;
  align-self: center;
}
