.commentContainer {
  margin-left: 5%;
  width: 80%;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  background-color: white;
}

.commentTitle {
  margin-left: 5%;
  color: rgb(243, 39, 32);
  font-weight: bolder;
}

.commentator {
  font-weight: bold;
  font-style: italic;
  color: rgb(129, 120, 120);
}

.commentOne {
  margin-left: 5%;
}

.lineAbove {
  width: 90%;
  align-self: center;
}
