.navBarContent {
  position: fixed;
  display: grid;
  grid-gap: 20px;
  left: 1%;
  width: 200px + 15%;
}

.eventButton {
  margin: 0;
  font-size: small;
  background-color: rgba(255, 252, 47, 0.836);
  width: 120px;
  height: 100px;
  max-height: 54px;
  border-radius: 10px;
}
@media only screen and (max-width: 420px) {
  .eventButton {
    width: 100px;
    font-size: 12px;
  }
}
.lato {
  font-family: "Lato", sans-serif;
}

#subscribed:hover {
  margin-left: 10%;
}

#recommended11:hover {
  margin-left: 5%;
}
#organize:hover {
  margin-left: 10%;
}
#organized:hover {
  margin-left: 10%;
}
#followed:hover {
  margin-left: 10%;
}
#search:hover {
  margin-left: 10%;
}
