.Post {
  background-color: white;
  display: grid;
  grid-gap: 2%;
  justify-self: center;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  border-radius: 20px;
}
.postInfo {
  justify-self: center;
  margin-top: 2%;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.line {
  width: 80%;
  align-self: center;
  color: gray;
}
.profilePic1 {
  border-radius: 50%;
  height: 100%;
  margin-top: 1%;
}
.postPicture {
  width: 450px;
  height: 250px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10%;
  grid-gap: 1%;
  height: 80%;
  width: 80%;
  font-size: 80%;
  margin-right: 0;
  font-family: "Lato", sans-serif;
  font-size: 10%;
}
.postButton {
  /* border-color: rgb(241, 154, 55); */

  color: rgb(184, 33, 23);
  border-width: solid;
  background-color: white;
  border-bottom-color: white;
  outline-color: white;
}
.labelInfo {
  margin-left: 10%;
  font-weight: bold;
  color: gray;
}
.info1 {
  font-weight: bold;
}
.cms1 {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  color: rgb(184, 33, 23);
}
.cm1 {
  align-self: center;
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 10px;
  height: 20px;
}
@media only screen and (max-width: 650px) {
  .profilePic1 {
    height: 70%;
    margin-top: 15%;
  }
  .postPicture {
    height: 100px;
    width: 200px;
  }
  .buttons {
    margin-left: 6%;
  }
}
@media only screen and (max-width: 454px) {
}
@media only screen and (max-width: 454px) {
  .buttons {
    width: 130px;
    margin-top: 20px;
  }
  .postButton {
    font-size: 10px;
  }
  .labelInfo {
    font-size: 12px;
  }
  .info1 {
    font-size: 12px;
  }
  .cms1 {
    font-size: 12px;
  }
}
p {
  font-weight: bold;
}
.postPictureContainer {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.coments {
  font-weight: normal;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgb(151, 167, 161);
  height: 20px;
  padding-top: 5px;
  padding-left: 3%;
  font-size: 80%;
}

.labela {
  margin-top: 8px;
}
.leave {
  margin-left: 10%;
  font-weight: bold;
  color: gray;
}

.crta {
  width: 80%;
  align-self: center;
}
.submitRec {
  /* display: grid;
  grid-template-columns: 3fr 0.5fr; */
  margin-left: 5%;
  width: 80%;
  align-self: center;
}

.submitButtonRec {
  height: 25px;
  margin-top: 7px;
  margin-bottom: 5%;
  border-radius: 10px;
  width: fit-content;
  background-color: rgb(184, 33, 23);
  color: white;
  font-weight: bold;
  float: right;
}

.user {
  width: 80%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr;
}

.pInfo {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
.tags {
  margin-left: 10%;
  font-weight: normal;
  justify-self: left;
  font-family: "Lato", sans-serif;
  font-weight: bold;

  font-size: 80%;
}
.description {
  margin-left: 10%;
  font-weight: normal;
  justify-self: left;
  font-family: "Lato", sans-serif;
  font-weight: bold;

  font-size: 80%;
}
.eventInfo {
  color: darkcyan;
}
.tg {
  color: blue;
}

.postLato {
  font-size: 90%;
}

.postButtons {
  width: calc(10px + 110%);
}
