.search {
  display: grid;
  grid-row-gap: 30px;
  width: 80%;

  font-family: "Lato", sans-serif;
}

.searchButton {
  width: calc(100px + 15%);
  margin-left: 10%;
  height: 50px;
  border-radius: 10px;
  float: right;
  background-color: rgb(8, 55, 116);
  font-size: 80%;
  font-weight: bolder;
  color: white;
}

.textBox {
  width: calc(80px + 28%);
  border: solid;
  border-width: 1px;
  font-size: 120%;
  border-radius: 10px;
}

label {
  width: auto;
  color: rgb(253, 249, 6);
  font-weight: bolder;
}
